.section {
  height: 100vh;
}

.section1 {
  padding-left: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section1 .info {
  width: 50%;
  padding-right: 2rem;
}
.section1 .info .h1 {
  font-family: "Outfit", sans-serif;
  font-size: 7rem;
  font-weight: 600;
  color: #04bafa;
}
@media screen and (max-width: 576px) {
  .section1 .info .h1 {
    font-size: 12.3vw;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .section1 .info .h1 {
    font-size: 6.3vw;
    padding-bottom: 1.7rem;
  }
}
.section1 .info .p_inicio {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #828282;
}
@media screen and (max-width: 576px) {
  .section1 .info .p_inicio {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 992px) {
  .section1 .info .p_inicio {
    font-size: 3.5vw;
    padding-top: 2rem;
  }
}

.section2 {
  background-color: #04bafa;
}

@media screen and (max-width: 992px) {
  .section1 {
    padding: 0 2rem;
  }
  .section1 .info {
    width: 90%;
    padding: 0;
  }
}
nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #f5f5f7;
  box-shadow: 0 3px 10px rgba(4, 186, 250, 0.1);
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.navbar .navbar_links .links {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  height: 100%;
}
.navbar .navbar_links .links .link_nav {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  text-decoration: none;
  color: #04bafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 0 6px;
  white-space: nowrap;
  text-align: center;
}
.navbar .navbar_links .links .link_registro {
  border-radius: 50px;
  background: #f5f5f7;
  background: #04bafa;
  box-shadow: 6px 6px 12px #d0d0d2, -6px -6px 12px #ffffff;
  color: #f5f5f7;
  border-radius: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
}

.link_registro--mobile {
  border-radius: 50px;
  background: #f5f5f7;
  background: #04bafa;
  box-shadow: 6px 6px 12px #d0d0d2, -6px -6px 12px #ffffff;
  color: #f5f5f7;
  border-radius: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  display: none;
}

.logo_inicio img {
  height: 50px;
}

.sidenav_logo {
  display: none;
}
.sidenav_logo img {
  height: 50px;
}

.menu_icon {
  display: none !important;
}

@media screen and (max-width: 1280px) {
  nav .navbar {
    padding: 0 25px;
  }
  .logo_inicio {
    display: none;
  }
  .sidenav_logo {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }
  .sidenav_logo a {
    display: flex;
    align-items: center;
  }
  .sidenav_logo .cerrar {
    font-size: 2rem;
    color: #04bafa;
  }
  .menu_icon {
    display: inline-block !important;
    font-size: 2.7rem;
    color: #04bafa;
  }
  .link_registro--mobile {
    display: inline-block;
  }
  .link_registro {
    display: none;
  }
  .link_nav {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    padding-left: 0;
    margin-left: 0;
    text-align: left !important;
  }
  .navbar_links {
    position: fixed;
    top: 0px;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 40%;
    height: 100%;
    background-color: #f5f5f7;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(4, 186, 250, 0.1);
    transition: all 0.5s ease;
    z-index: 1000;
    overflow-y: scroll;
  }
  .navbar_links .links {
    flex-direction: column;
    align-items: start !important;
    padding-bottom: 1rem;
    overflow-y: scroll;
  }
  .navbar_links .links li {
    display: block !important;
    align-self: start !important;
  }
}
.area {
  background: #04bafa;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 50%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 20s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .area {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  font-display: swap;
}

html {
  /* para que un rem quede en 10 px */
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #f5f5f7;
}

/*# sourceMappingURL=style.css.map */
