


.section {
    height: 100vh;
}

.section1 {
    padding-left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .info {
        width: 50%;
        padding-right: 2rem;
        .h1 {
            font-family: 'Outfit', sans-serif;
            font-size: 7rem;
            font-weight: 600;
            color: $celeste;

            @media screen and (max-width: 576px) {
                font-size: 12.3vw;
                padding-bottom: 1rem;
            }
    
            @media screen and (max-width: 992px) and (orientation: landscape) {
                font-size: 6.3vw;
                padding-bottom: 1.7rem;
            }
        }

        .p_inicio {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            color: $gris;

            @media screen and (max-width: 576px) {
                font-size: 1.7rem;
            }
    
            @media screen and (max-width: 992px) {
                font-size: 3.5vw;
                padding-top: 2rem;
            }
        }
    }
}

.section2 {
    background-color: $celeste;
}


// media q

@media screen and (max-width: 992px) {
   .section1 {
    padding: 0 2rem;
    

    .info {
        width: 90%;
        padding: 0;
    }

   } 
}


